.md-block {
    margin: 4px;
}

.md-button {
    margin: 0;
}

.md-chips md-chip ._md-chip-remove {
    width: 5px;
}

.md-chips .ng-scope {
    padding: 0px 12px;
}

#enterTags {
    padding:0;
    margin-top: -10px;
}

#titleTags {
    margin-top: 0px;
}