<div ng-controller="newObject" layout="column" ng-cloak="" class="inputdemoErrorsAdvanced">
    <md-content layout-padding="">
        <form name="userForm">
            <md-input-container class="md-block">
                <label>Заголовок</label>
                <input required name="header" ng-model="obj.header">
                <div ng-messages="userForm.header.$error">
                    <div ng-message="required">Введите корректное значение!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Описание</label>
                <input required name="description" ng-model="obj.description">
                <div ng-messages="userForm.description.$error">
                    <div ng-message="required">Введите корректное значение!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Адрес</label>
                <input required name="address" ng-model="obj.address">
                <div ng-messages="userForm.address.$error">
                    <div ng-message="required">Введите корректное значение!</div>
                </div>
            </md-input-container>

            <div ng-controller="tagsCtrl as ctrl" layout="column" ng-cloak="" class="chipsdemoBasicUsage" ngApp="MyApp">
                <md-content id="enterTags" class="md-padding" layout="column">
                    <br>
                    <h2 id="titleTags" class="md-title">Теги:</h2>
                    <md-chips ng-model="ctrl.editableTags" readonly=false md-enable-chip-edit="true"></md-chips>
                    <br>
                    <!--<md-checkbox ng-model="ctrl.readonly">Только чтение</md-checkbox>-->
                </md-content>
            </div>

            <div ng-controller="btnNewObj" ng-cloak>
                <md-content>
                    <md-button class="md-raised md-primary">Создать объект</md-button>
                </md-content>
            </div>
        </form>
    </md-content>
</div>