<div flex="50" layout="column">
    <md-list flex>
        <md-list-item class="md-2-line">
            <md-input-container flex="100">
                <label>Search</label>
                <input ng-model="filter" />
            </md-input-container>
        </md-list-item>
        <md-list-item class="md-2-line" ng-repeat="item in collection | fuzzy:filter track by item.id" ng-attr-aria-label="item.title" ui-sref="objects.info({id: $index})">
            <div class="md-list-item-text">{{item.title}}</div>
        </md-list-item>
    </md-list>
</div>
